# Ignore R environment files
renv/library/
renv/staging/

# Ignore Python build artifacts
*.egg-info/
build/
dist/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore macOS metadata
.DS_Store

# Ignore temporary editor or OS files
*.swp
*.swo
*.~ 

# Ignore tmp test files
examples/figures.ipynb
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*