# Ignore the renv project library (machine-specific)
renv/library/
renv/staging/

# Ignore the egg
*.egg-info/

# Ignore all __pyc files
__pycache__/
*.pyc

# Ignore all .DS_Store files within the project
.DS_Store
